# --- VIVADO & SDK common ---


# ignore 'ip_lib' which contains custom IP pulled from bitbucket by the build script
#/ip_lib/

# --- SDK specific ---

# exclude some obscure hidden SDK folders
/.metadata/
/webtalk/
/RemoteSystemsTempFiles/
/.sdk/

# hw_platform : exclude the entire hw_platform folder, as
# we'll regenerate everything from the .hdf file
# make sure to include the bitstream in the .hdf file when exporting
# from Vivado!
#/RoboticHand_platform/

# BSP : only keep .cproject, .project, .sdkproject, .system.mss
# and Makefile
# i.e. the ps7_cortexa9_0 lib files are regenerated automatically
/RoboticHand_bsp/ps7_cortexa9_0/*

# Application : ignored file patterns, exclude Debug & Release folders
/**/*.o
/**/*.d
/**/*.a
/sncp/Debug/
/sncp/Release/